<configuration>
	<packageSources>
		<add key="GitHub" value="https://nuget.pkg.github.com/kamil1722/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="Username" value="kamil1722" />
			<add key="ClearTextPassword" value="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" />
		</GitHub>
	</packageSourceCredentials>
</configuration>
