################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/NotificationContracts/.vs
/NotificationContracts/obj
/NotificationContracts/bin
